
body{
    background: aliceblue;
    background: radial-gradient(circle, #767676 6%, transparent 6%);
    background-size: 1em 1em;
    opacity: 1;
    box-sizing: border-box;
    z-index: 1;
}
*{
    background-color: white;
}

.Page{
    display: flex;
    width: 100vw;
    z-index: 2;
}

.Inputs{
    min-height: 100vh;
    height:auto;
    border-right: 1px dashed rgb(214, 214, 214);
    width:35vw;
    background: rgb(255, 255, 255);    
}

.Preview{
    margin-top: 2rem;
    border-radius: 0rem;
    height: fit-content;
    max-width: 100%;
    display:flex;
    justify-content: center;
    max-height: 100%;
    flex:1;


}

.preview{
    
    border: 1px dashed  rgb(214, 214, 214);
    height: auto;
    min-height: 0;
    max-height: none;
}